[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dvc = {extras = ["gdrive"], version = "*"}
hydra-core = "*"
hydra-colorlog = "*"
tflite-model-maker = "*"
matplotlib = "*"
setuptools = "*"
wheel = "*"
tensorflow-gpu = "*"
wandb = "*"
tf2onnx = {git = "https://github.com/onnx/tensorflow-onnx"}
onnxruntime = "*"
watchtower = "*"

[dev-packages]

[requires]
python_version = "3.9"
